html, body, #root, .main {
  margin: 0;
  padding: 0; 
  height: 100%;
}

body {
  font-size: 16px;
}

input:focus {
  z-index: 1;
}

img {
  object-fit: contain;
}

.row {
  margin: 0.5em 0;
}

.controls {
  margin-bottom: 1.5em;

  select, input {
    margin-right: 0.5em;
  }

  .checkbox {
    margin-right: 1.5em;
  }

  & > div {
    margin-right: 3.5em;

    &:nth-last-child(2) {
      flex: 1 0;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  & > .row {
    padding: 0 1em;

    &:last-child {
      flex: 1;
    }
  }
}

.list {
  flex-wrap: wrap;
}

.total {
  flex-wrap: wrap;
  padding-bottom: 1.5em;
}

.grand-total {
  width: 64em;
}

.char {
  margin-right: 4em;
  width: 34em;

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .delete-btn {
    position: absolute;
    right: 0;
    top: 0.25em;
    margin: 0;
    width: 1.25em !important;
    height: 1em !important;
    padding: 0 0 0.25em 0 !important;
    font-size: 200%;
    line-height: 0;
    opacity: 0;
    outline: 0 !important;

    &:not(:hover):not(:active):not(:focus) {
      background: none !important;
    }
  }

  &:hover .delete-btn,
  .delete-btn:focus {
    opacity: 1;
  }

  .thumb {
    margin-right: 1em;
  }

  .char_image {
    width: 106px;
    height: 106px;
  }

  .rarity {
    text-align: center;
  }

  input[type=number] {
    width: 53px;
  }

  .inactive {
    opacity: 0.2;
  }

  .talents {
    h5, .toggle {
      align-self: baseline;
    }

    .toggle {
      margin: 0 0 0 0.25em;
      font-weight: 200;
      outline: 0;
    }

    & > fieldset {
      max-height: 20em;
      transition-property: max-height, opacity;

      &.hidden {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
      }
    }

    .talent_image {
      width: 30px;
      height: 30px;
    }

    .talent_image, .talent_name {
      vertical-align: middle;
    }

    input {
      margin: 0.25em 0 2em;
    }
  }
}

.item {
  width: 5em;
  margin: 1px 0;
  white-space: nowrap;

  img, .unknown {
    width: 30px;
    height: 30px;
    vertical-align: top;
  }

  .unknown {
    display: inline-block;
    position: relative;
    background-color: var(--primary-alt);

    &::after {
      content: '?';
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}

.mora {
  width: auto;
}
