html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 16px;
}

input:focus {
  z-index: 1;
}

img {
  object-fit: contain;
}

.row {
  margin: 0.5em 0;
}

.wrap {
  flex-wrap: wrap;
}

@keyframes slowblink {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.loading {
    animation: slowblink 1.5s linear infinite;
}

.controls {
  margin-bottom: 1.5em;

  select, input {
    margin-right: 0.5em;
  }

  .checkbox {
    margin-right: 1.5em;
  }

  & > div {
    margin-right: 3.5em;

    &:nth-last-child(2) {
      flex: 1 0 auto;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & > .row {
    padding: 0 1em;
  }
}

.list {
  flex: 1 0;
}

.total {
  margin-bottom: 5em;

  .subtotal {
    margin-right: 4em;
    margin-bottom: 1.5em;
    max-width: 30em;
  }
}

.char {
  margin-right: 4em;
  margin-bottom: 1.5em;
  width: 34em;

  &.compact {
    width: 24em;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .delete-btn {
    position: absolute;
    right: 0;
    top: 0.25em;
    margin: 0;
    width: 1.25em !important;
    height: 1em !important;
    padding: 0 0 0.25em 0 !important;
    font-size: 200%;
    line-height: 0;
    opacity: 0;
    outline: 0 !important;

    &:not(:hover):not(:active):not(:focus) {
      background: none !important;
    }
  }

  &:hover .delete-btn,
  .delete-btn:focus {
    opacity: 1;
  }

  .thumb {
    margin-right: 1em;

    .char_image {
      width: 106px;
      height: 106px;
    }

    .rarity {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 3px;
    }

    .h6 {
      text-align: center;
    }
  }

  input[type=number] {
    width: 53px;
  }

  .mats {
    flex: 1;
    overflow: hidden;
  }

  .talents {
    h5, .toggle {
      align-self: baseline;
    }

    .toggle {
      margin: 0 0 0 0.25em;
      font-weight: 200;
      outline: 0;
    }

    & > fieldset {
      max-height: 20em;
      transition-property: max-height, opacity;

      &.hidden {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
      }
    }

    .talent_image {
      width: 30px;
      height: 30px;
    }

    .talent_image, .talent_name {
      vertical-align: middle;
    }

    input {
      margin: 0.25em 0 2em;
    }

    .thumb.flex > div {
      margin-right: 1em;
    }
  }
}
  
.unselected {
  opacity: 0.2;
}

.item {
  width: 5em;
  margin: 1px 0;
  white-space: nowrap;

  img, .unknown {
    width: 30px;
    height: 30px;
    vertical-align: top;
  }

  .unknown {
    display: inline-block;
    position: relative;
    background-color: var(--primary-alt);

    &::after {
      content: '?';
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }

  .popup {
    position: absolute;
    border: 0.0625em solid var(--primary-alt);
    padding: 0.5em;
    padding-bottom: 1em;
    background: var(--primary);
    transform-origin: top;
    z-index: 2;

    transition: height linear 0s 100ms, transform linear 100ms, opacity linear 100ms;
  }

  .unselected &,
  &.unselected {
    .popup {
      display: none;
    }
  }

  &:not(:hover) .popup {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
  }

}

.mora {
  width: auto;
}
